<section id="terms-of-service">
    <div class="card">
        <h1 class="primary-heading">Terms and Conditions</h1>
        <p class="paragraph">
            1) By using the car rental services provided by WheelsOnRent, you agree to the following terms and conditions:
            <br><br>
            2) You must be of legal age to rent a car and hold a valid driver's license as per the laws of your jurisdiction.
            <br><br>
            3) You are responsible for providing accurate and complete information during the reservation process, including personal details, contact information, and payment details.
            <br><br>
            4) The rental period begins and ends as specified in the rental agreement. Any extension of the rental period must be approved by WheelsOnRent and may be subject to additional charges.
            <br><br>
            5) You are responsible for returning the rented vehicle in the same condition as it was received, normal wear and tear excepted. Any damages or excessive wear to the vehicle may result in additional charges.
            <br><br>
            6) WheelsOnRent reserves the right to refuse rental services to any individual or cancel a reservation at any time, without providing a reason.
            <br><br>
            7) You are responsible for all traffic violations, parking fines, and toll charges incurred during the rental period.
            <br><br>
            8) WheelsOnRent is not liable for any loss or damage to personal belongings left in the rented vehicle during the rental period.
            <br><br>
            9) You agree to indemnify and hold harmless WheelsOnRent from any claims, damages, losses, or liabilities arising from your use of the rental vehicle.
            <br><br>
            10) WheelsOnRent reserves the right to modify these terms and conditions at any time without prior notice. It is your responsibility to review and understand the updated terms before using our services.
        </p>
    </div>
</section>
