USE [master]
GO
/****** Object:  Database [NewRoadReady]    Script Date: 13-03-2024 22:41:26 ******/
CREATE DATABASE [NewRoadReady]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NewRoadReady', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NewRoadReady.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NewRoadReady_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\NewRoadReady_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NewRoadReady].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NewRoadReady]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 13-03-2024 22:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[RePassword] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](max) NULL,
	[Role] [nvarchar](50) NOT NULL,
	[Gender] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarListing]    Script Date: 13-03-2024 22:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarListing](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[Make] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Location] [nvarchar](max) NULL,
	[Specifications] [nvarchar](max) NULL,
	[DailyRate] [money] NULL,
	[AvailableFrom] [datetime] NULL,
	[AvailableTo] [datetime] NULL,
	[ImageURL] [nvarchar](max) NULL,
	[CarPlateNumber] [nvarchar](30) NULL,
	[Status] [nvarchar](20) NULL,
	[Year] [int] NULL,
	[Color] [nvarchar](20) NULL,
	[Mileage] [decimal](10, 2) NULL,
	[CarType] [nvarchar](50) NULL,
	[Transmission] [nvarchar](50) NULL,
	[MaintenanceStatus] [nvarchar](max) NULL,
	[CarCreateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 13-03-2024 22:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[EmailAddress] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RePassword] [nvarchar](50) NOT NULL,
	[PhoneNumber] [nvarchar](20) NULL,
	[Address] [nvarchar](max) NULL,
	[LicenseNumber] [nvarchar](30) NULL,
	[Role] [nvarchar](30) NOT NULL,
	[Gender] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 13-03-2024 22:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[CarID] [int] NULL,
	[Rating] [decimal](18, 0) NULL,
	[Review] [nvarchar](max) NULL,
	[ReviewDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Login]    Script Date: 13-03-2024 22:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[LoginId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [nvarchar](30) NOT NULL,
	[CustomerID] [int] NULL,
	[AdminID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentDetails]    Script Date: 13-03-2024 22:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentDetails](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[CarID] [int] NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[AccountDetails] [nvarchar](max) NULL,
	[Amount] [money] NULL,
	[TransactionStatus] [nvarchar](30) NULL,
	[TransactionDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservation]    Script Date: 13-03-2024 22:41:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservation](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NULL,
	[CarID] [int] NULL,
	[PaymentID] [int] NULL,
	[PickupDateTime] [datetime] NULL,
	[DropoffDateTime] [datetime] NULL,
	[ReservationStatus] [nvarchar](50) NULL,
	[PaidAmount] [money] NULL,
	[ReservationTime] [datetime] NULL,
	[NumberOfDays] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([AdminID], [FirstName], [LastName], [Password], [RePassword], [Email], [Address], [Role], [Gender]) VALUES (1, N'Johnny', N'Dwanyne', N'adminpass1', N'adminpass1', N'dwayne@example.com', N'123 Main St', N'Admin', N'Male')
INSERT [dbo].[Admin] ([AdminID], [FirstName], [LastName], [Password], [RePassword], [Email], [Address], [Role], [Gender]) VALUES (2, N'Aly', N'Smith', N'adminpass2', N'adminpass2', N'aly.smith@example.com', N'456 Oak St', N'Admin', N'Female')
INSERT [dbo].[Admin] ([AdminID], [FirstName], [LastName], [Password], [RePassword], [Email], [Address], [Role], [Gender]) VALUES (3, N'Boby', N'John', N'adminpass3', N'adminpass3', N'bobby.john@example.com', N'789 Elm St', N'Admin', N'Female')
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[CarListing] ON 

SET IDENTITY_INSERT [dbo].[CarListing] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [EmailAddress], [Password], [RePassword], [PhoneNumber], [Address], [LicenseNumber], [Role], [Gender]) VALUES (1, N'John', N'Doe', N'john.doe@example.com', N'password123', N'password123', N'1234567890', N'123 Main St', N'ABC123', N'Customer', N'Male')
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [EmailAddress], [Password], [RePassword], [PhoneNumber], [Address], [LicenseNumber], [Role], [Gender]) VALUES (3, N'Bob', N'Johnson', N'bob.johnson@example.com', N'pass789', N'pass789', N'5551112222', N'789 Elm St', N'PQR789', N'Customer', N'Male')
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [EmailAddress], [Password], [RePassword], [PhoneNumber], [Address], [LicenseNumber], [Role], [Gender]) VALUES (4, N'Emma', N'White', N'emma.white@example.com', N'pass321', N'pass321', N'3334445555', N'456 Pine St', N'LMN321', N'Customer', N'Female')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([FeedbackID], [CustomerID], [CarID], [Rating], [Review], [ReviewDateTime]) VALUES (1, 1, 1, CAST(5 AS Decimal(18, 0)), N'Great experience overall. The car was clean and in good condition.', CAST(N'2024-03-01T12:30:00.000' AS DateTime))
INSERT [dbo].[Feedback] ([FeedbackID], [CustomerID], [CarID], [Rating], [Review], [ReviewDateTime]) VALUES (2, 7, 1, CAST(5 AS Decimal(18, 0)), N'Excellent service! The car exceeded my expectations.', CAST(N'2024-03-02T10:45:00.000' AS DateTime))
INSERT [dbo].[Feedback] ([FeedbackID], [CustomerID], [CarID], [Rating], [Review], [ReviewDateTime]) VALUES (3, 4, 7, CAST(4 AS Decimal(18, 0)), N'The car was fine but could use better maintenance.', CAST(N'2024-03-03T14:20:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Login] ON 

INSERT [dbo].[Login] ([LoginId], [Email], [Password], [Role], [CustomerID], [AdminID]) VALUES (1, N'michael.jones@example.com', N'securepwd', N'Customer', 5, NULL)
INSERT [dbo].[Login] ([LoginId], [Email], [Password], [Role], [CustomerID], [AdminID]) VALUES (2, N'emma.white@example.com', N'pass321', N'Customer', 4, NULL)
INSERT [dbo].[Login] ([LoginId], [Email], [Password], [Role], [CustomerID], [AdminID]) VALUES (3, N'bob.johnson@example.com', N'pass789', N'Customer', 3, NULL)
SET IDENTITY_INSERT [dbo].[Login] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentDetails] ON 

INSERT [dbo].[PaymentDetails] ([PaymentID], [CustomerID], [CarID], [PaymentMethod], [AccountDetails], [Amount], [TransactionStatus], [TransactionDate]) VALUES (1, 10, 13, N'Cash', N'', 1400.0000, N'Success', CAST(N'2024-03-12T14:00:47.637' AS DateTime))
INSERT [dbo].[PaymentDetails] ([PaymentID], [CustomerID], [CarID], [PaymentMethod], [AccountDetails], [Amount], [TransactionStatus], [TransactionDate]) VALUES (2, 10, 3, N'Online', N'', 2400.0000, N'Success', CAST(N'2024-03-12T14:02:58.743' AS DateTime))
INSERT [dbo].[PaymentDetails] ([PaymentID], [CustomerID], [CarID], [PaymentMethod], [AccountDetails], [Amount], [TransactionStatus], [TransactionDate]) VALUES (3, 13, 6, N'Credit Card', N'', 3800.0000, N'Success', CAST(N'2024-03-12T14:04:49.480' AS DateTime))
SET IDENTITY_INSERT [dbo].[PaymentDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservation] ON 

INSERT [dbo].[Reservation] ([ReservationID], [CustomerID], [CarID], [PaymentID], [PickupDateTime], [DropoffDateTime], [ReservationStatus], [PaidAmount], [ReservationTime], [NumberOfDays]) VALUES (13, 1, 1, NULL, CAST(N'2024-03-02T00:00:00.000' AS DateTime), CAST(N'2024-03-04T00:00:00.000' AS DateTime), N'Accepted', 0.0000, CAST(N'2024-03-09T13:45:07.010' AS DateTime), 2)
INSERT [dbo].[Reservation] ([ReservationID], [CustomerID], [CarID], [PaymentID], [PickupDateTime], [DropoffDateTime], [ReservationStatus], [PaidAmount], [ReservationTime], [NumberOfDays]) VALUES (19, 7, 1, NULL, CAST(N'2024-03-09T00:00:00.000' AS DateTime), CAST(N'2024-03-10T00:00:00.000' AS DateTime), N'Accepted', 0.0000, CAST(N'2024-03-09T18:37:06.470' AS DateTime), 1)
INSERT [dbo].[Reservation] ([ReservationID], [CustomerID], [CarID], [PaymentID], [PickupDateTime], [DropoffDateTime], [ReservationStatus], [PaidAmount], [ReservationTime], [NumberOfDays]) VALUES (22, 4, 7, NULL, CAST(N'2024-03-21T00:00:00.000' AS DateTime), CAST(N'2024-03-24T00:00:00.000' AS DateTime), N'Accepted', 0.0000, CAST(N'2024-03-09T20:38:29.757' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Reservation] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Admin__A9D105342ECD9C45]    Script Date: 13-03-2024 22:41:28 ******/
ALTER TABLE [dbo].[Admin] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CarListi__748419D177943734]    Script Date: 13-03-2024 22:41:28 ******/
ALTER TABLE [dbo].[CarListing] ADD UNIQUE NONCLUSTERED 
(
	[CarPlateNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__49A1474072E6C289]    Script Date: 13-03-2024 22:41:28 ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[EmailAddress] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__85FB4E3877CB89BB]    Script Date: 13-03-2024 22:41:28 ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__E8890166487DA3D9]    Script Date: 13-03-2024 22:41:28 ******/
ALTER TABLE [dbo].[Customer] ADD UNIQUE NONCLUSTERED 
(
	[LicenseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Login__A9D105349BBA4A3D]    Script Date: 13-03-2024 22:41:28 ******/
ALTER TABLE [dbo].[Login] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CarListing] ADD  DEFAULT (getdate()) FOR [CarCreateTime]
GO
ALTER TABLE [dbo].[Reservation] ADD  CONSTRAINT [DF__Reservati__Reser__48EFCE0F]  DEFAULT ('Waiting') FOR [ReservationStatus]
GO
ALTER TABLE [dbo].[Reservation] ADD  DEFAULT ((0)) FOR [PaidAmount]
GO
ALTER TABLE [dbo].[Reservation] ADD  DEFAULT (getdate()) FOR [ReservationTime]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([CarID])
REFERENCES [dbo].[CarListing] ([CarID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Login]  WITH CHECK ADD FOREIGN KEY([AdminID])
REFERENCES [dbo].[Admin] ([AdminID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Login]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentDetails]  WITH CHECK ADD FOREIGN KEY([CarID])
REFERENCES [dbo].[CarListing] ([CarID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PaymentDetails]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD FOREIGN KEY([CarID])
REFERENCES [dbo].[CarListing] ([CarID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customer] ([CustomerID])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD FOREIGN KEY([PaymentID])
REFERENCES [dbo].[PaymentDetails] ([PaymentID])
GO
ALTER TABLE [dbo].[CarListing]  WITH CHECK ADD CHECK  (([CarType]='Manual' OR [CarType]='Automatic'))
GO
ALTER TABLE [dbo].[CarListing]  WITH CHECK ADD CHECK  (([Status]='Not Available' OR [Status]='Available'))
GO
ALTER TABLE [dbo].[CarListing]  WITH CHECK ADD CHECK  (([Transmission]='Hybrid' OR [Transmission]='Diesel' OR [Transmission]='Petrol' OR [Transmission]='Electric'))
GO
ALTER TABLE [dbo].[PaymentDetails]  WITH CHECK ADD CHECK  (([PaymentMethod]='Online' OR [PaymentMethod]='Cash' OR [PaymentMethod]='Debit Card' OR [PaymentMethod]='Credit Card'))
GO
ALTER TABLE [dbo].[PaymentDetails]  WITH CHECK ADD CHECK  (([TransactionStatus]='Pending' OR [TransactionStatus]='Failed' OR [TransactionStatus]='Success'))
GO
ALTER TABLE [dbo].[Reservation]  WITH CHECK ADD  CONSTRAINT [CK__Reservati__Reser__49E3F248] CHECK  (([ReservationStatus]='Rejected' OR [ReservationStatus]='Accepted' OR [ReservationStatus]='Waiting'))
GO
ALTER TABLE [dbo].[Reservation] CHECK CONSTRAINT [CK__Reservati__Reser__49E3F248]
GO
USE [master]
GO
