* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px; /* Adjust the max-width to your desired value */
    margin: 20px auto; /* Center the container horizontally */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}


.rate {
    margin-bottom: 20px;
    text-align: center; /* Center the stars */
}

.rate i {
    font-size: 24px;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}

.rate i.selected {
    color: orange;
}

.feedback-form {
    margin-top: 20px;
}

.input {
    width: 100%;
    display: block;
    caret-color: #21262d;
    font-size: 16px;
    padding: 8px 13px;
    color: #444;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    outline: 0;
    text-align: left;
    line-height: 24px;
    margin-bottom: 8px;
    border: 1px solid #dfdfdf;
}

.input:hover,
.input:focus {
    border-color: #1e72f7;
}



button:hover {

    transform: scale(1.1);
}


.feedback-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-form .input {
    width: 100%;
    max-width: 400px; /* Adjust the max-width to your desired value */
}

.feedback-form button {
    width: 200px; /* Adjust the width to your desired value */
    margin-top: 20px; /* Adjust the margin-top to create space between the textarea and the button */
}
